site_name: mostly
site_description: A lightweight python library for building fuzzy inference systems.

repo_name: cupressus/mostly
repo_url: https://github.com/cupressus/mostly

theme:
  name: material
  language: en
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: pink
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: pink
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cupressus/mostly
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mmeyer-analyst/

nav:
  - Home: index.md
  #- Changelog: changelog.md
  #- Tutorials: tutorials.md
  #- How-To Guides: how_to_guide.md
  #- Reference: api_reference.md
  #- Explanation: changelog.md